<header class="header">
    <div class="wrapper">
        <div class="header__logo">
            <div class="header__logo-svg">
                <img class="icon icon-tabler icon-tabler-scissors" src="/dist/img/icons/gray_scissors.svg" alt="">
            </div>
            <a class="header__logo-text" href="/">Shorten link</a>
        </div>
        <nav class="nav-desktop">
            <div class="nav-desktop__items">
                <a class="nav-desktop__item" href="/">Home</a>
                <a class="nav-desktop__item" href="/about-us">About us</a>
                <a class="nav-desktop__item" href="/faq">Faq</a>
                <a class="nav-desktop__item" href="/main/stats/public">Stats</a>
                <a class="nav-desktop__item" href="/main/auth/login">Log in</a>
            </div>
        </nav>
    </div>

    <button class="burger">
        <div class="burger__button">
            <div class="burger__bars"></div>
        </div>
    </button>
    <nav class="nav-mobile">
        <div class="nav-mobile__items">
            <a class="nav-mobile__item" href="/" style="animation-delay: .1s;">Home</a>
            <a class="nav-mobile__item" href="/about-us" style="animation-delay: .3s;">About us</a>
            <a class="nav-mobile__item" href="/faq" style="animation-delay: 0s;">Faq</a>
            <a class="nav-mobile__item" href="/main/stats/public" style="animation-delay: .2s;">Stats</a>
            <a class="nav-mobile__item" href="/main/auth/login" style="animation-delay: .4s;">Log in</a>
        </div>
    </nav>
</header>