@import './colors';
@import './mixins';

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    @include Raleway_Font;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.swing {
	animation: swing 2s linear both;
}

.error {
  color: #ae00fb;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2em;
}

.success {
  color: #006800;
  font-size: 1.6rem;
  margin-bottom: 2em;
  text-align: center;
}

.title {
  margin-top: 3em;
  text-align: center;
  font-size: 3rem;
  font-weight: normal;
  color: $button;
}

@keyframes swing {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(0);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -200%) rotateX(-180deg);
    transform-origin: top;
  }
}

@keyframes hide {
  0%{
    opacity: 1;
  }

  50%{
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-r {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

body {
  min-height: 100vh; 
  
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: $background;
}

.main {
    z-index: 0;
    &__background-scissor {
      display: none;
    }
}

.header {
  position: relative;
  padding-top: 2em;
  background-color: $section;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        padding-left: 2em;
        &-svg {
            margin: 0 1.7em;
            transform: scale(2.5);
            transform-origin: top;
        }

        &-text {
            padding: 0 .5em .5em 0;
            font-size: 2rem;
            font-weight: bold;
            color: $button;
            text-decoration: none;
            transition: color .3s ;

            &:hover {
                color: $background;
            }
        }
    }

    .burger{
        position: fixed;
        right: 10px;
        top: 10px;
        padding: 1.5em;
        background-color: transparent;
        border: 2px solid transparent;
        outline: none;
        border-radius: 20px;
        cursor: pointer;
        z-index: 200;


        &:hover {
          .burger__bars::before, .burger__bars::after {
            width: 100%;
          }
        }

        &:active {
          border: 2px solid white;
        }

        &__button {
          position: relative;
          width: 40px;
          height: 30px;
        }

        &__bars {
          width: 100%;
          height: 4px;
          background-color: $button;

          &::before, &::after {
            position: absolute;
            right: 0;
            transform: translateY(-50%);
            height: 4px;
            background-color: $button;
            content: '';
            transition: width .3s;

          }
          
          &::before {
            top: 50%;
            width: 50%;
          }
          
          &::after {
            top: 100%;
            width: 25%;
          }

        }
    }

}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #f4c075, $section);
  z-index: 10;
  transform: translateX(100%);
  transition: transform .5s ease-in-out;

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;
    padding: .5em 2em;
    margin-bottom: .3em;
    font-size: 2.8rem;
    text-decoration: none;
    color: $button;
    cursor: pointer;
    
    &:hover {
      &::after {
        transform: scaleY(1);

      }
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 2px;
      background-color: $button;
      transform: scaleY(0);
      transform-origin: center;
      transition: transform .3s;
      content: '';
    }

    &-animation {
      animation: itemAnimation 1s backwards;
    }
  }
}

@keyframes itemAnimation {
  from{
    transform: translateX(200%);
  }
  to{
    transform: translateX(0);
  }
}


.nav--show {
  transform: translateX(0);
}

.nav-desktop {
  display: none;
}

.create {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20em 0 10em;

    &__input-box {
       position: relative;
       width: 40%;
       min-width: 240px;
       height: 80px;
       perspective: 200px;
    }

    &__side {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        transform: translate(-50%, -50%);

        &--front {
            z-index: 2;
        }

        &--back {
            z-index: 1;
            opacity: 0;
            
            .create__input {
                transform: rotateX(180deg);
            }
        }
        
    }

    &__custom {
      text-align: center;

      label {
        line-height: 20px;
      }
    }

    &__input {
      width: 60%;
      min-width: 220px;
      padding: 1em;
      margin: 0 auto;
      font-size: 1.6rem;
      border: 2px solid transparent;
      border-radius: 35px;

      &--custom {
        padding: .3em;
        width: 30%;
        min-width: 110px;
        font-size: 1rem;

      }

      &:read-only {
        background-color: #e6e6e6;
        filter: contrast(0.9);
        cursor: copy;
      }

      &:focus {
      // border-radius: 35px;
        outline: none;
        border: 2px solid $button;
      }
    }

    &__info {
      text-align: center;
      font-size: 1.6rem;
      opacity: 0;
      transition: opacity 1s;

      &--success {
        color: $section;
        opacity: 1;
        animation: hide 10s forwards;
      }

      &--error {
        color: #F54748;
        opacity: 1;
        animation: hide 10s forwards;
      }

      &--await {
        opacity: 1;
      }
    }

    &__button {
      margin-top: 2em;
      padding: 1em 2em;
      font-size: 1.6rem;
      border: none;
      border-radius: 35px;
      background-color: $section;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: .4s;

      &:hover {
        transform: translateY(-7px);
        background-color: $button;
        color: $background;
      }
    }
}

.footer {
  position: relative;

  width: 100%;
  .wrapper {
    position: absolute;
    bottom: 20px;
    width: 100%;
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__text {
    font-size: 1.6rem;
  }

  &__link {
    padding: 1em .5em;
    text-decoration: none;
    color: $button;
    transition: color .4s;

    &:hover {
      color: white;
    }
  }

}

.svg {
  pointer-events: none;
  z-index: -1;
}

.card {
  width: 80%;
  max-width: 1200px;
  margin: 2em auto 1em;
  padding: 2em;
  color: $button;
  font-size: 1.6rem;
  background-color: #fff;
  border-radius: 20px;

  &--small {
    max-width: 600px;
  }
}



.faq {
  &__elements {
    list-style: none;
  }

  &__element {
    margin-bottom: 1em;
    border-radius: 10px;
    border-bottom: 3px solid $section;
    transition: border-color .3s;
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid $button;
    }

    &[aria-expanded="true"] {
      .faq__text {
        max-height: 1000px;
        transform: scaleY(1);
      }

      .faq__header::before {
        transform: rotateZ(180deg);
      }
    }
  }

  &__header {
    font-size: 2rem;
    position: relative;
    padding: .4em 2em 0;

    &::before {
      position: absolute;
      left: 12px;
      top: 8px;
      display: inline-block;
      transform: rotateZ(90deg);
      content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="18" y1="11" x2="12" y2="5"></line><line x1="6" y1="11" x2="12" y2="5"></line></svg>');
      transition: transform .3s;
    }
  }

  &__text {
    max-height: 0;
    padding: 1em ;
    line-height: 30px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s, max-height .5s;
  }
}

.about-us {
  &__text {
    line-height: 30px;
    margin-bottom: 1em;
  }

  &__bold {
    font-weight: bold;
    color: $section;
  }

  ul {
    margin-bottom: 2em;
    list-style-position: inside;
  }
}

.stats {
  &__element {
    padding: 1em;
  }

  &__bold {
    font-weight: bold;
    color: $section;
  }
}

.log-in {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 4em;
  &__box {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  &__label {
    font-size: 2rem;
    margin-bottom: .5em;
  }

  &__input {
    width: 100%;
    padding: .5em;
    margin-bottom: 1em;
    border-radius: 10px;
    font-size: 1.6rem;
    border: none;
    border-bottom: 3px solid $section;
    transition: background .3s, border-color .3s;

    &:hover, &:focus, &:valid {
      border-bottom: 3px solid $button;
    }

    &:focus {
      outline: none;
    }

  }

  &__button {
    width: 90%;
    margin-top: 1.2em;
    margin-bottom: 2em;
    padding: .5em 1em;
    font-size: 1.6rem;
    border: none;
    border-radius: 20px;
    background: $section;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: color .3s, transform .3s, background-color .3s;
    cursor: pointer;

    &:hover {
      background-color: $button;
      color: $background;
      transform: translateY(-5px)
    }
  }

  &__p {
    align-self: flex-start;
    margin-left: 1.2em;
    margin-top: 1em;
    align-self: center;
  }

  &__link {
    text-decoration: none;
    color: $section;
    font-weight: 700;
    transition: color .3s;

    &:hover {
      color: $hover;
    }
  }
}

@import './small';
@import './medium';
@import './large';
