@import './colors';
@import './mixins';

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    @include Raleway_Font;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.swing {
	animation: swing 2s linear both;
}

@keyframes swing {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(0);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -200%) rotateX(-180deg);
    transform-origin: top;
  }
}

@keyframes hide {
  0%{
    opacity: 1;
  }

  50%{
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-r {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.main {
    position: relative;
    padding: 3em 1.8em;
    min-height: 100vh;
    background: $background;
    z-index: 0;

    &__svg {
        position: absolute;
        left: 0;
        pointer-events: none;
        z-index: -1;

        &--top {
            top: 0;
        }

        &--bottom {
            bottom: 0;
        }
    }

    &__background-scissor {
      display: none;
    }
}

.header {
  height: 10vh;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;

        &-svg {
            margin: 0 1.7em;
            transform: scale(2.5);
            transform-origin: top;
        }

        &-text {
            padding: 0 .5em .5em 0;
            font-size: 2rem;
            font-weight: bold;
            color: $section;
            text-decoration: none;
            transition: color .3s ;

            &:hover {
                color: $hover;
            }
        }
    }

    &__login{
        &-link {
            padding: .5em .8em;
            font-size: 2rem;
            text-decoration: none;
            color: $button;
            border-radius: 35px;
            transition: color .5s, background-color .5s;

            &:hover {
                box-shadow: 2px 3px 0 #343f56a1;
                background-color: $button;
                color: $background;
            }
        }
    }

}

.create {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    margin-top: 15%;
    // margin-top: 30vh;

    &__input-box {
       position: relative;
       width: 40%;
       min-width: 240px;
       height: 80px;
       perspective: 200px;
    }

    &__side {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        transform: translate(-50%, -50%);

        &--front {
            z-index: 2;
        }
        &--back {
            z-index: 1;
            opacity: 0;
            
            .create__input {
                transform: rotateX(180deg);
            }
        }
        
    }

    &__custom {
      text-align: center;

      label {
        line-height: 20px;
      }
    }

    &__input {
      width: 60%;
      min-width: 220px;
      padding: 1em;
      margin: 0 auto;
      font-size: 1.6rem;
      border: 2px solid transparent;
      border-radius: 35px;

      &--custom {
        padding: .3em;
        width: 30%;
        min-width: 110px;
        font-size: 1rem;

      }

      &:read-only {
        background-color: #e6e6e6;
        filter: contrast(0.9);
        cursor: copy;
      }

      &:focus {
      // border-radius: 35px;
        outline: none;
        border: 2px solid $button;
      }
    }

    &__info {
      text-align: center;
      font-size: 1.6rem;
      opacity: 0;
      transition: opacity 1s;

      &--success {
        color: $section;
        opacity: 1;
        animation: hide 10s forwards;
      }

      &--error {
        color: #F54748;
        opacity: 1;
        animation: hide 10s forwards;
      }

      &--await {
        opacity: 1;
      }
    }

    &__button {
      margin-top: 2em;
      padding: 1em 2em;
      font-size: 1.6rem;
      border: none;
      border-radius: 35px;
      background-color: $section;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: .4s;

      &:hover {
        transform: translateY(-7px);
        background-color: $button;
        color: $background;
      }
    }
}

.footer {
  .wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 5vh;
  }

  &__text {
    font-size: 1.6rem;
  }

  &__link {
    padding: 1em .5em;
    text-decoration: none;
    color: $button;
    transition: color .4s;

    &:hover {
      color: white;
    }
  }
}
@import './small';
@import './medium';
@import './large';
