<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./dist/css/main.min.css">
    <script src="./dist/js/main.min.js"></script>
    <title>Shorten links!</title>
</head>
<body>
    {{> header }}
    <div class="page">
        <h1 class="title">FAQ</h1>
        <section class="card faq">
            <ul class="faq__elements">
                <li class="faq__element" aria-expanded="false"> 
                    <h2 class="faq__header" >Element 1</h2>
                    <p class="faq__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores qui dicta eos! Doloremque nihil impedit ducimus sed minus! Voluptate alias architecto dolor neque ullam mollitia iure ad enim provident ipsa.</p>
                </li>
                <li class="faq__element" aria-expanded="false"> 
                    <h2 class="faq__header" >Element 2</h2>
                    <p class="faq__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores qui dicta eos! Doloremque nihil impedit ducimus sed minus! Voluptate alias architecto dolor neque ullam mollitia iure ad enim provident ipsa.</p>
                </li>
                <li class="faq__element" aria-expanded="false"> 
                    <h2 class="faq__header" >How to check stats?</h2>
                    <p class="faq__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores qui dicta eos! Doloremque nihil impedit ducimus sed minus! Voluptate alias architecto dolor neque ullam mollitia iure ad enim provident ipsa.</p>
                </li>
                <li class="faq__element" aria-expanded="false"> 
                    <h2 class="faq__header" >This is for free?</h2>
                    <p class="faq__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores qui dicta eos! Doloremque nihil impedit ducimus sed minus! Voluptate alias architecto dolor neque ullam mollitia iure ad enim provident ipsa.</p>
                </li>
            </ul>
        </section>
        
    </div>
    {{> footer }}
        <script src="./dist/js/faq.min.js" defer></script>
        <script src="./dist/js/nav.min.js" defer></script>
    </body>
</html>