<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./dist/css/main.min.css">
    <script src="./dist/js/main.min.js"></script>
    <title>Shorten links!</title>
</head>
<body>
    {{> header }}
    <div class="page">

        <main class="main">
            <img class="main__background-scissor main__background-scissor--one" src="./dist/img/icons/orange_scissors.svg" alt="">
            <img class="main__background-scissor main__background-scissor--two" src="./dist/img/icons/orange_scissors.svg" alt="">
            <img class="main__background-scissor main__background-scissor--three" src="./dist/img/icons/orange_scissors.svg" alt="">
            <img class="main__background-scissor main__background-scissor--four" src="./dist/img/icons/orange_scissors.svg" alt="">
            <form>
                <section class="create">
                    <p class="create__info">.</p>
                    <div class="create__input-box">
                        <div class="create__side create__side--front">
                            <input type="text" class="create__input" placeholder="Enter your link">
                        </div>
                        <div class="create__side create__side--back">
                            <input type="text" class="create__input"  readonly>
                        </div>
                    </div>
                    <div class="create__custom">
                        <label for="custom">Set custom url http://localhost:3000/ </label> 
                        <input class="create__input create__input--custom" id="custom" type="text">
                    </div>
                    <button type="button" class="create__button">Cut now</button>
                </section>
            </form>
        </main>
        
        
    </div>
    {{> footer }}
        <script src="./dist/js/nav.min.js" defer></script>
        <script src="./dist/js/home.min.js" defer></script>
    </body>
</html>