<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/dist/css/main.min.css">
    <script src="/dist/js/main.min.js"></script>
    <title>Shorten links!</title>
</head>
<body>
    {{> header }}
    <div class="page">
        <h1 class="title">Stats</h1>
        <section class="card stats">
            <p class="stats__element">Redirect links: <span class="stats__bold">{{redirectLinks}}</span></p>
            <p class="stats__element">Redirects: <span class="stats__bold">{{redirects}}</span></p>
        </section>
    </div>
    {{> footer }}
    <script src="/dist/js/nav.min.js" defer></script>

    </body>
</html>