@media(min-width: 992px) {
    .nav {
        // top: 20px;
        left: 0px;
        // bottom: 20px;

        &--active {
            width: 300px;
        }
    
        &__list {
            padding-left: .5em;
        }
    }

    .main {
        width: calc( 100% - 70px );
        margin-left: 70px;

        .wrapper {
            grid-template-columns: repeat(2, minmax(300px, 1fr));
        }

        &__card {
            &--img {
                max-height: 300px;
            }
        }

        &__form {
            justify-content: space-between;
            flex-direction: row;
        }

        &__input {
            &-box {
                text-align: left;
                width: 60%;
                margin-bottom: 0;
            }
        }

        &__button {
            width: 20%;
        }
    }

    .table {
        &__head {
            display: block;
            background-color: rgb(241, 241, 241);
        }

        &__row {
            display: flex;
            flex-direction: row;
        }
    
        &__cell {
            &:first-child {
                text-align: left;
                margin-top: 0em;
            }

            &:nth-child(2) {
                justify-content: space-between;
                flex-direction: row;
                margin: 0;
                .button {
                    margin-top: 0;
                    margin-left: 1em;
                }
            }
        }
    }
}